.main {
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 45px;
        padding: 25px 0px;
        width: 30%;
        min-height: 500px;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 9px 9px 8px 0px rgba(34, 60, 80, 0.2);
        p {
            font-size: 22px;
            font-weight: 700;
        }
    }
    &-form {
        display: flex;
        flex-direction: column;
        width: 90%;
        input {
            margin-bottom: 15px;
            padding: 0px 10px;
            height: 35px;
            border: solid 2px;
            border-radius: 5px;
            border-color: $secondary-color;
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &[type=number] {
                -moz-appearance: textfield;
            }
        }
        label {
            margin-left: 5px;
            font-size: 18px;
            font-weight: 300;
        }
        select {
            margin-bottom: 15px;
            padding: 0px 10px;
            height: 35px;
            border: solid 2px;
            border-radius: 5px;
            border-color: $secondary-color;
            option {
                &[value=""][disabled] {
                    display: none;
                }
            }
        }
        button {
            margin: 0 auto;
            margin-top: 10px;
            width: 200px;
            height: 40px;
            border-radius: 5px;
            border: none;
            text-align: center;
            background-color: $addition-color;
        }
    }
}
#main-form__operation-result {
    padding: 0px 10px;
    height: 60px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    border: solid 2px;
    border-radius: 5px;
    border-color: $secondary-color;
    background-color: #fff;
    position: relative;
}